<!DOCTYPE html>
<html lang="en">

{% include head.html %}





<body ontouchstart="">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- aaa -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4107517276067711"
     data-ad-slot="1690905184"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
<link rel = "Shortcut Icon" href=/favicon.ico>
</body>

</html>
